/**************************
	GENERAL
---------------------------
***************************/
/* colors **********
body #FAFAFA
text #4A4A4A
********************/
/*TEST*/
/** { border: 1px solid red; }	*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #FAFAFA;
  margin-top: 340px;
  color: #4A4A4A;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #FAFAFA;
  margin-top: 0;
  padding: 1em 6% 0;
  position: fixed;
  top: 0;
  z-index: 999;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 3em 0 4em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
  color: #4A4A4A;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #EEE;
}

.selected, a:hover {
  color: #888;
}

body {
  background-color: #fafafa;
}

/**************************
	HEADING
---------------------------
***************************/
.main-title {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/**************************
	NAVIGATION
---------------------------
***************************/
.main-nav {
  display: block;
  margin: 2em 0;
  padding: 6%;
}

.main-nav li {
  margin: 4px;
}

.main-nav a {
  padding: 8px;
  background-color: #FFF;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
}

/**************************
	HERO
---------------------------
***************************/
.hero {
  padding: 0 6% 2em;
}

.img-profile {
  width: 200px;
}

.hero p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.6em;
  margin-top: 2em;
}

/**************************
	MAIN
---------------------------
***************************/
main.portfolio {
  background-color: #FFF;
  padding: 2em 6%;
}

article {
  margin-bottom: 3.5em;
  position: relative;
}

.icon-prj {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 500;
  border-radius: 0 0 0 25%;
  background-color: #fff;
}

/**************************
	page: PORTFOLIO
---------------------------
***************************/
.round {
  border-radius: 10%;
}

/**************************
	page: CONTACT
---------------------------
***************************/
.primary {
  margin-bottom: 3em;
}

.col {
  text-align: left;
}

.contact-wrap {
  padding: 1em 6%;
  background-color: #fff;
}

.contact li a {
  min-height: 30px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 0 0 0 40px;
  margin: 0 0 10px;
}

.contact li.phone a {
  background-image: url(../icons/phone.png);
}

.contact li.mail a {
  background-image: url(../icons/message.png);
}

.contact li.twitter a {
  background-image: url(../icons/twitter.png);
}

.contact li.facebook a {
  background-image: url(../icons/facebook.png);
}

/**************************
	FOOTER
---------------------------
***************************/
footer {
  padding: 1.6em 6%;
}

.contact {
  margin: 2em 0;
  font-size: 1.2em;
}

.contact li {
  margin: .8em 0;
}

.contact a {
  display: inline-block;
  font-weight: 700;
  padding-left: 12px;
}

.contact span {
  display: inline-block;
}

.unghia p {
  float: left;
  font-weight: 700;
}

.unghia .btop {
  float: right;
  font-size: 0.9em;
}

.secondary-nav {
  display: none;
}

/**************************
	UTILITIES
---------------------------
***************************/
/*		micro clearfix by Nicolas Gallagher
		http://nicolasgallagher.com/micro-clearfix-hack/ */
*
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* uppercase class */
.up {
  text-transform: uppercase;
}

/**************************
	MEDIA QUERIES
---------------------------
***************************/
@media (min-width: 768px) {
  /*	test. */
  /*	body { background-color: #ddd; } */
  body {
    margin-top: 141px;
  }

  .hero {
    padding: 4em 6%;
  }

  .hero p {
    text-align: left;
  }

  .img-profile {
    float: right;
    width: 300px;
    margin-left: 30px;
  }

  .main-nav {
    margin: 0;
    padding: 1em 0;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav li a {
    background-color: transparent;
  }

  .icon-prj {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  /**************************
  page: PORTFOLIO
  ---------------------------
  ***************************/
  main.portfolio {
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 1em 3em;
  }

  article {
    float: left;
    width: 50%;
    padding: .8em;
  }

  article p {
    font-size: .9em;
  }

  /**************************
  page: CONTACT
  ---------------------------
  ***************************/
  .primary {
    width: 60%;
    float: left;
  }

  .secondary {
    width: 40%;
    float: left;
    padding-left: 10%;
  }

  /**************************
  FOOTER
  ---------------------------
  ***************************/
  .btop {
    display: none;
  }

  .secondary-nav {
    float: right;
    margin: 1em 0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
    color: #4A4A4A;
    display: inherit;
  }

  .secondary-nav li {
    float: left;
    margin-left: 2em;
  }
}
@media (min-width: 1024px) {
  /*	test. */
  /*	body { background-color: #888; } */
  body {
    margin-top: 80px;
  }

  .main-title, .main-nav {
    margin: 0;
    padding: 0;
  }

  .main-title {
    float: left;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    float: left;
  }

  .hero p {
    font-size: 1.2em;
  }

  .img-profile {
    width: 40%;
    margin: 0.5em 1em 0.5em 0.5em;
  }

  article {
    float: left;
    width: 33%;
    padding: .8em;
  }
}
