
.wrapper {
	@extend %makeresponsive;
	@extend %centered-container;
}

article {
	margin-bottom: 3.5em;
	position: relative;
  padding: .8em;
	@include media(narrow) {
		float: left;
		width: 50%;
	}
	@include media(wide){
		float: left;
		width: 33%;
		padding: .8em;
	};
}

/**************************
	HERO
---------------------------
***************************/

.hero {
  @extend %clearfix;
	padding: 0 6% 1em;
	@include media(narrow) { padding: 4em 6%; };
}

.img-profile {
	width: 200px;
  @include border-radius(15px);
	@include media(narrow) {
		float: right;
		width: 300px;
		margin-left: 30px;
	};
	@include media(wide) {
		width: 40%;
		margin: 0.5em 1em 0.5em 0.5em;
	};
}


main.portfolio {
  @extend %centered-container;
  @extend %clearfix;
  background-color: #FFF;
  padding: 2em 6%;
  max-width: 90%;
  padding: 1em 1em 3em;
}

.contact-wrap {
  @extend %clearfix;
	padding: 1em 6%;
	background-color: #fff;
}
