/**************************
	FOOTER
---------------------------
***************************/

footer {
	padding: 1.6em 6%;
}

.contact {
	margin: 2em 0;
	font-size: $font-hero-size;

	& li {
		margin: .8em 0;
	}

	& a {
		display: inline-block;
		font-weight: 700;
		padding-left: 12px;
	}
	& span{
		display: inline-block;
	}

}

.unghia {
	@extend %clearfix;

	& p {
		float: left;
		font-weight: 700;
	}

	& .btop {
		float: right;
		font-size: $font-small-size;
		@extend %uppercase;
	}
}

.secondary-nav {
	display: none;
	@include media(narrow) {
		float: right;
		margin: 1em 0;
		text-transform: uppercase;
		font-size: $font-small-size;
		font-weight: 700;
		color: #4A4A4A;
		display: inherit;
	};

	& li {
		@include media(narrow) {
			float: left;
			margin-left: 2em;
		}
	}
}
