/**************************
	FOOTER
---------------------------
***************************/

footer {
	padding: 1.6em 6%;
}

.contact {
	margin: 2em 0;
	font-size: 1.2em;

	& li {
		margin: .8em 0;
	}

	& a {
		display: inline-block;
		font-weight: 700;
		padding-left: 12px;
	}
	& span{
		display: inline-block;
	}

}


.unghia {
	@extend %clearfix;

	& p {
		float: left;
		font-weight: 700;
	}

	& .btop {
		float: right;
		font-size: 0.9em;
		@extend %uppercase;
	}
}



.secondary-nav {
	display: none;
}
