header {
		width: 100%;
		background-color: $primary-color;
		margin-top: 0;
		padding: 1em 6% 0;
		position: fixed;
		top: 0;
		z-index: 999;
}

/**************************
	HEADING
---------------------------
***************************/

.main {
	&-title {
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		padding:0;
	}

	//NAVIGATION
	&-nav {
		display: block;
		margin: 2em 0;
		padding: 6%;

		& li {
			margin: 4px; }

		& a{
			padding: 8px;
			background-color: #FFF;
			@extend %uppercase;
			font-size: 1.1em;
			font-weight: 700; }
	}
}
