header {
		width: 100%;
		background-color: $primary-color;
		margin-top: 0;
		padding: 1em 6% 0;
		position: fixed;
		top: 0;
		z-index: 999;
}

/**************************
	HEADING
---------------------------
***************************/

.main {
	&-title {
		font-size: $font-title-size;
		font-weight: 700;
		margin: 0;
		padding:0;
		@include media(wide) {
				float: left;
		}
	}

	//NAVIGATION
	&-nav {
		display: block;
		margin: 2em 0;
		padding: 6%;
		@include media(narrow) {
			margin: 0;
			padding: 1em 0;
		};
		@include media(wide) {
			float: right;
		};

		& li {
			@include media(narrow) {
				display: inline-block;
			};
			@include media(wide){
				float: left;
			}
			margin: 4px;
		}

		& a{
			@include media(narrow) {
				background-color: transparent;
			};
			padding: 8px;
			background-color: #FFF;
			@extend %uppercase;
			font-size: $font-hero-size;
			font-weight: 700;
		}
	}
}

.main-title, .main-nav {
	@include media(wide){
	margin: 0;
	padding: 0;
	}
}
