#button-toggler {
  position: fixed;
  top: 38px;
  left: 15px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: $font-hero-size + 0.5em;
  font-weight: 700;
  cursor: pointer;
  @include media(narrow) { display: none; };
}

#toggler { display: none;
  //position: absolute;
  //z-index: 1050;
  }

:checked ~ header nav {
  display: none;
  @include media(narrow) { display: block; }
}

:checked ~ .hero  {
  margin-top: -10em;
  transition: all .3s ease-in-out;
  @include media(narrow) { margin-top: inherit; }
}

@include media(narrow) {
  .btop {
    display: none;
  }
}
