.contact li {
  & a {
    min-height: 30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 0 0 0 40px;
    margin: 0 0 10px; }

  &.phone a { background-image: url(../icons/phone.png); }
  &.mail a { background-image: url(../icons/message.png); }
  &.twitter a { background-image: url(../icons/twitter.png); }
  &.facebook a { background-image: url(../icons/facebook.png); }
}

.icon-prj {
	position: absolute;
	top: -20px;
	right: -20px;
	z-index: 500;
	border-radius: 0 0 0 25%;
	background-color: #fff;
  @include media(narrow) {
    position: absolute;
    top:0px;
    right:0px;
  };
}
