@include font-face('Open Sans', Open-Sans-300, 300, normal);
@include font-face('Open Sans', Open-Sans-regular, 400, normal);
@include font-face('Open Sans', Open-Sans-700, 700, normal);

article p {
  font-size: .9em;
}

.hero p {
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.6em;
	margin-top: 2em;

  @include media(narrow) {
      text-align: left;
  }
  @include media(wide) {
      font-size: 1.2em;
  };

}
