/**************************
	GENERAL
---------------------------
***************************/

/* colors **********
body #FAFAFA
text #4A4A4A
********************/


/*TEST*/ /** { border: 1px solid red; }	*/

* {

	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: #FAFAFA;
	margin-top: 340px;
	color: #4A4A4A;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

header {
		width: 100%;
		background-color: #FAFAFA;
		margin-top: 0;
		padding: 1em 6% 0;
		position: fixed;
		top: 0;
		z-index: 999;
}

h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 3em 0 4em;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	display: block;
	color: #4A4A4A;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #EEE;
}

.selected, a:hover {
	color: #888;
}
