* { box-sizing: border-box; }

body {
	font-family: $stack-open-sans;
	font-size: 18px;
	@extend %centered-text;
	background-color: $primary-color;
	margin-top: 340px;
	color: $text-color;
	@include media(narrow) {
			margin-top: 141px;
	};
	@include media(wide) {
			margin-top: 80px;
	};
}

h2 {
	@extend %uppercase;
	font-size: 1.6em;
	margin: 3em 0 4em;
}
h3 {
		font-size: 1.4em;
}
h4 {
	@extend %uppercase;
}

img {
	@extend %makeresponsive;
}

a {
	text-decoration: none;
	display: block;
	color: $text-color;

		&:hover {
			color: $middlegrey-color;
		}
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid $light-color;
}

.selected {
	color: $middlegrey-color;
}
