//Colors
$primary-color      : #FAFAFA;
$text-color         : #4A4A4A;
$light-color        : #EEE;
$middlegrey-color   : #888;

// font-stack
/*8) **Create variables for repeating values. At a minimum create variables for
colors,
font-sizes and
font-family values.
ed un altro o più per gli extra credit
***/

// assets
